<div class="sidebar">
      <div class="profile_info">
        <h4>{{ current_user.get_doc()}}</h4>
        {{"hello"}}
      </div>
      <a href="/indi/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/indi/dashboard/dr_events"><i class="fas fa-user-md"></i><span>Doctor Visits</span></a>
      <a href="/indi/dashboard/lab_events"><i class="fas fa-vial"></i><span>Lab Visits</span></a>
      <a href="/indi/dashboard/search_dr"><i class="fas fa-hospital"></i><span>Search Doctor</span></a>
      <a href="/indi/dashboard/search_labs"><i class="fas fa-notes-medical"></i><span>Search Pathology</span></a>
      <a href="/indi/dashboard/settings"><i class="fas fa-cogs"></i><span>Settings</span></a>
    </div>
