<div class="sidebar">
      <div class="profile_info">
        <h4>{{ current_user.get_doc()}}</h4>
        {{"hello"}}
      </div>


      <a href="/doctor/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/doctor/dashboard/indi_records"><i class="fas fa-user-md"></i><span>Records</span></a>
      <a href="/doctor/dashboard/lab_records"><i class="fas fa-vial"></i><span>Lab Reports</span></a>
      <a href="/doctor/dashboard/search_dr"><i class="fas fa-hospital"></i><span>Search Doctor</span></a>
      <a href="/doctor/dashboard/search_labs"><i class="fas fa-notes-medical"></i><span>Search Pathology</span></a>
        <a href="/doctor/dashboard/settings"><i class="fas fa-cogs"></i><span>Settings</span></a>
    </div>
