<div class="sidebar">
      <div class="profile_info">
        <h4>{{ current_user.get_name()}}</h4>
        {{"hello"}}
      </div>
      <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
      <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="/doctor/Settings"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>