<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-color:lightblue;
  color:#FFF;
}

section{
  text-align:center;
}
/* -------------------------- */
footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  div.social-media-links {
		background: @rhino;
		overflow: hidden;
		padding-bottom: 4px;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		a {
			border-bottom: 0px solid rgba(0,0,0,0.95);
			border-radius: 4px;
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
			display: inline-block;
      height: 30px;
			padding: 20px;
			position: relative;
			transition: .2s ease-in;
      width: 30px;
			svg {
        left: 20px;
        position: absolute;
        top: 20px;
				height: 30px;
				width: 30px;
        &.glow {
          path, circle {
            fill: rgba(0,0,0,0);
          }
        }
				path, circle {
					fill: @teal;
					transition: .2s ease-in;
				}
			}
		}
		a:hover {
			transform: translateY(-4px);
			box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout(@tealMid, 75), 0 83px 4px 0px fadeout(@tealMid, 5);
			svg {
        &.glow {
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
          filter: blur(2px);
          path, circle {
            fill: fadeout(@tealMid, 40);
          }
        }
				path, circle {
					fill: @tealMid;
				}
			}
		}
	}
}
/* ----------------------------------- */
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
</style>
<section>
  <h1>Made with ♥ by Archit,Sakshi and Eshan</h1>
  <h3></h3>
</section>
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
	   <h3>Minor Project on "Digital Health Card"</h3>
     <!-- --------------------------------------------- -->

     <!-- --------------------------------------------- -->
       </div>
</div>
</div>
</div>
