<style type="text/css">


  /* CSS Document */

  *
  {
  	padding: 0px;
  	margin: 0px;
  }

  html, body
  {
  	background: #000;
  	width: 100%;
  	height: 100%;
  }

  #wrap
  {
  	width: 100%;
  	height: 100%;
  	position: relative;
  	margin: 0 auto 0 auto;
  	overflow: hidden;
  }

  #lightings
  {
  	bottom: -60px;
  	position: absolute;
  	width: 100%;
  }

  section
  {
  	/*border-radius*/
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	border-radius: 50%;
  	height: 20px;
  	width: 100%;
  	position: relative;
  	margin: auto;

  }

  #one
  {
  	/*animation*/
  	-webkit-animation: one 5s ease-in-out infinite alternate;
  	-moz-animation: one 5s ease-in-out infinite alternate;
  	-ms-animation: one 5s ease-in-out infinite alternate;
  	-o-animation: one 5s ease-in-out infinite alternate;
  	animation: one 5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes
  one { from {
  -webkit-box-shadow: 0 0 250px 20px #473C78;
  }

  to { -webkit-box-shadow: 0 0 100px 15px #F72A3B; }
  }
  @-moz-keyframes
  one { from {
  -moz-box-shadow: 0 0 250px 20px #473C78;
  }

  to { -moz-box-shadow: 0 0 100px 15px #F72A3B; }
  }
  @-o-keyframes
  one { from {
  -o-box-shadow: 0 0 250px 20px #473C78;
  }

  to { -o-box-shadow: 0 0 100px 15px #F72A3B; }
  }

  @keyframes
  one { from {
  box-shadow: 0 0 250px 20px #473C78;
  }

  to {box-shadow: 0 0 100px 15px #F72A3B; }
  }

  #two
  {
  	width: 90%;
  	/*animation*/
  	-webkit-animation: two 4s ease-in-out infinite alternate;
  	-moz-animation: two 4s ease-in-out infinite alternate;
  	-ms-animation: two 4s ease-in-out infinite alternate;
  	-o-animation: two 4s ease-in-out infinite alternate;
  	animation: two 4s ease-in-out infinite alternate;
  }
  @-webkit-keyframes
  two { from {
  -webkit-box-shadow: 0 0 250px 20px #18C499;
  }

  to { -webkit-box-shadow: 0 0 100px 15px #D8F05E; }
  }
  @-moz-keyframes
  two { from {
  -moz-box-shadow: 0 0 250px 20px #18C499;
  }

  to { -moz-box-shadow: 0 0 100px 15px #D8F05E; }
  }
  @-o-keyframes
  two { from {
  -o-box-shadow: 0 0 250px 20px #18C499;
  }

  to { -o-box-shadow: 0 0 100px 15px #D8F05E; }
  }

  @keyframes
  two { from {
  box-shadow: 0 0 250px 20px #18C499;
  }

  to { box-shadow: 0 0 100px 15px #D8F05E; }
  }

  #three
  {
  	width: 80%;
  	/*animation*/
  	-webkit-animation: three 3s ease-in-out infinite alternate;
  	-moz-animation: three 3s ease-in-out infinite alternate;
  	-ms-animation: three 3s ease-in-out infinite alternate;
  	-o-animation: three 3s ease-in-out infinite alternate;
  	animation: three 3s ease-in-out infinite alternate;
  }
  @-webkit-keyframes
  three { from {
  -webkit-box-shadow: 0 0 250px 20px #FFDD00;
  }

  to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
  }
  @-moz-keyframes
  three { from {
  -moz-box-shadow: 0 0 250px 20px #FFDD00;
  }

  to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
  }
  @-o-keyframes
  three { from {
  -o-box-shadow: 0 0 250px 20px #FFDD00;
  }

  to { -o-box-shadow: 0 0 100px 15px #3E33FF }
  }

  @keyframes
  three { from {
  box-shadow: 0 0 250px 20px #FFDD00;
  }

  to { box-shadow: 0 0 100px 15px #3E33FF }
  }

  #four
  {
  	width: 70%;
  	/*animation*/
  	-webkit-animation: four 2s ease-in-out infinite alternate;
  	-moz-animation: four 2s ease-in-out infinite alternate;
  	-ms-animation: four 2s ease-in-out infinite alternate;
  	-o-animation: four 2s ease-in-out infinite alternate;
  	animation: four 2s ease-in-out infinite alternate;
  }
  @-webkit-keyframes
  four { from {
  -webkit-box-shadow: 0 0 250px 20px #781848;
  }

  to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
  }
  @-moz-keyframes
  four { from {
  -moz-box-shadow: 0 0 250px 20px #781848;
  }

  to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
  }
  @-o-keyframes
  four { from {
  -o-box-shadow: 0 0 250px 20px #781848;
  }

  to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
  }

  @keyframes
  four { from {
  shadow: 0 0 250px 20px #781848;
  }

  to { shadow: 0 0 100px 15px #F2BBE9; }
  }

  #five
  {
  	width: 60%;
  	/*animation*/
  	-webkit-animation: five 1s ease-in-out infinite alternate;
  	-moz-animation: five 1s ease-in-out infinite alternate;
  	-ms-animation: five 1s ease-in-out infinite alternate;
  	-o-animation: five 1s ease-in-out infinite alternate;
  	animation: five 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes
  five { from {
  -webkit-box-shadow: 0 0 250px 20px #42F2A1;
  }

  to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
  }
  @-moz-keyframes
  five { from {
  -moz-box-shadow: 0 0 250px 20px #42F2A1;
  }

  to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
  }
  @-o-keyframes
  five { from {
  -o-box-shadow: 0 0 250px 20px #42F2A1;
  }

  to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
  }

  @keyframes
  five { from {
  box-shadow: 0 0 250px 20px #42F2A1;
  }

  to { box-shadow: 0 0 100px 15px #F4F6AD; }
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

  body{
      font-family: 'Roboto', sans-serif;
  }

  .search-text{
  	margin-top:50px;
  	background-color: #272d33;
  	padding-top:60px;
  	padding-bottom:60px;
  }

  .search-text .input-search{
  	height:45px;
  	width:40%;
  	padding-left:20px;
      color:#333;
  }

  .search-text .btn-search{
      background: #da3e44;
      font-family:Roboto;
      border:none;
  	color:#FFF;
  	height: 45px;
      width: 80px;
  }

  .search-text h4{
      color: #FFF;
      font-weight: 700;
  }

  footer{
       background-color: #33383c;
       padding:30px 0px;
  }

  .logo{
      color:#FFF;
      font-weight:700;
      font-size:30px;
  }

  .address span , .menu span{
     color: #FFF;
     font-weight: bold;
     border-bottom: 1px solid #c7c7c7;
     padding:10px 0px;
     display: block;
     text-transform: uppercase;
     font-size: 16px;
     letter-spacing: 3px;
  }

  .address li a , .menu li a{
      color:#FFF;
      letter-spacing: 3px;
      text-decoration:none;
      font-size:14px;
  }

  .address li, .menu li{
      margin:20px 0px;
      list-style: none;
  }

  .address li a:hover , .menu li a:hover{
      color: #da3e44;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }

  .address .fa{
      color: #da3e44;
      margin-right: 10px;
      font-size:18px;
  }


/* footer code */
  /* *, *:before, *:after {
  box-sizing: border-box;
  }

  html {
  font-size: 100%;
  }

  body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
  }

  .footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  }

  .footer > * {
  flex:  1 100%;
  }

  .footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }

  .footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  }

  .footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  }

  .nav__title {
  font-weight: 400;
  font-size: 15px;
  }

  .footer address {
  font-style: normal;
  color: #999;
  }

  .footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  }

  .footer ul {
  list-style: none;
  padding-left: 0;
  }

  .footer li {
  line-height: 2em;
  }

  .footer a {
  text-decoration: none;
  }

  .footer__nav {
  display: flex;
  flex-flow: row wrap;
  }

  .footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }

  .nav__ul a {
  color: #999;
  }

  .nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
  }

  .legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  }

  .legal__links {
  display: flex;
  align-items: center;
  }

  .heart {
  color: #2f2f2f;
  }

  @media screen and (min-width: 24.375em) {
  .legal .legal__links {
  margin-left: auto;
  }
  }

  @media screen and (min-width: 40.375em) {
  .footer__nav > * {
  flex: 1;
  }

  .nav__item--extra {
  flex-grow: 2;
  }

  .footer__addr {
  flex: 1 0px;
  }

  .footer__nav {
  flex: 2 0px;
  }
  } */
  /* footer code ends*/
</style>
<!-- <a id = "contact"></a>
<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">MINOR Project</h1>

    <h2>Contact</h2>

    <address>
      Race Course Road, Gola ka Mandir, Gwalior - 474005, Madhya Pradesh, India<br>

      <a class="footer__btn" href="mailto:director@gmail.in">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Instagram</a>
        </li>

        <li>
          <a href="#">Facebook</a>
        </li>

        <li>
          <a href="#">Twitter</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>

        <li>
          <a href="#">Software Design</a>
        </li>

        <li>
          <a href="#">Digital Signage</a>
        </li>

        <li>
          <a href="#">Automation</a>
        </li>

        <li>
          <a href="#">Artificial Intelligence</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2020  All rights reserved.</p>

    <div class="legal__links">
      <span>Made with <span class="heart">♥</span>by Archit, Eshan and Sakshi</span>
    </div>
  </div>
</footer> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--
    instagram: www.instagram.com/programmingtutorial
    site: programlamadersleri.net
-->

<div class="search-text">
   <div class="container">
     <div class="row text-center">

       <div class="form">
           <h4>SIGN UP TO OUR NEWSLETTER</h4>
            <form id="search-form" class="form-search form-horizontal">
                <input type="text" class="input-search" placeholder="Email Address">
                <button type="submit" class="btn-search">SUBMIT</button>
            </form>
        </div>

      </div>
   </div>
</div>

<footer>
 <div class="container">
   <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
              <span class="logo">LOGO</span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                     <span>Menu</span>
                     <li>
                        <a href="#">Home</a>
                      </li>

                      <li>
                         <a href="#">About</a>
                      </li>

                      <li>
                        <a href="#">Blog</a>
                      </li>

                      <li>
                         <a href="#">Gallery </a>
                      </li>
                 </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="address">
                    <span>Contact</span>
                    <li>
                       <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">Phone</a>
                    </li>
                    <li>
                       <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Adress</a>
                    </li>
                    <li>
                       <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                    </li>
               </ul>
           </div>


       </div>
    </div>

    <article id="wrap">
    	<article id="lightings">
        	<section id="one">
                <section id="two">
                    <section id="three">
                        <section id="four">
                            <section id="five">

                            </section>
                        </section>
                    </section>
                </section>
    		</section>
        </article>
    </article>

</footer>
