   <style type="text/css">
    .container1 {
      background: linear-gradient(to left, #ecf9ef, #fff);
  }
  .left img{
    float: left;
    width: 68px;
 }
 /* Header starts */
 #header{
   color:red;
 }
 #header_buttons{

 }
 /* header ends */
 .left img{
   float: left;
   width: 68px;
}

.right img{
 float: right;
 width: auto;
 height: 104px;
 margin-top: 10px;
}
 h1{
   font-weight: 700;
   vertical-align: middle;
   margin-bottom: 1px;
   text-align: center;
   display: block;
   text-transform: none;
   font-size: 23px;
   line-height: 27px
 }

 }
</style>
 <div class = "container1" id = "header">

  <h1>
    <div class="left">
    <img src="https://cghs.nic.in/main_assets/images/cghs_logo.jpg">
  </div>
    <div class="right">
            <img src="https://cghs.nic.in/main_assets/images/digital_india_logo.png">
          </div>

    <img src="https://cghs.nic.in/main_assets/images/satyamev_jayate.png" class="st-logo"><br>
          National Digital Health Portal<br>
          <span style="font-size: 1.1rem">Ministry of Health &amp; Family Welfare</span><br>
          <span style="font-size: 1rem">Government of India</span>
        </h1>
</div>
