<!DOCTYPE html>
<html>
<head>
	<title>Search Laboratories</title>
	       <link rel="stylesheet" href="{{url_for('static', filename = "dashboard_style.css")}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
	    <!--header area start-->
    {% include 'layouts/header.html' %}
    <!--header area end-->
    <!--sidebar start-->
    {% include 'layouts/indi_sidebar.html' %}
      <h1 class="excp">Search Labs by Name or City </h1><br>
      <form action="/indi/dashboard/labs/search/results" method="post">
    
	    <select id="attribute" name="attribute" required>
	      <option value="" disabled selected>Search By</option>
	      <option value="name">Name</option>
	      <option value="city">City</option>
	      
	    </select>

	    <input type="text" id="value" name="value" placeholder = "Enter Value" required>
	</form>
</body>
</html>