<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript">
var citiesByState = {ANDAMANANDNICOBARISLANDS:['PORTBLAIR','BAKULTALA','BAMBOOFLAT','GARACHARMA','PROTHRAPUR'],

ANDHRAPRADESH:['ADONI','AKKARAMPALLE','AMADALAVALASA (AMUDALAVALASA)','AMALAPURAM',
'ANAKAPALLE','ANANTAPUR','ANANTAPUR','AREMPUDI','AVILALA','BADVEL','BALAGA','BANAGANAPALLE (BANGANAPALLE)',
'BANDARULANKA','BANUMUKKALA','BAPATLA','BETHAMCHERLA','BHEEMUNIPATNAM','BHIMAVARAM','BOBBILI','BOWLUVADA','BUJA BUJA NELLORE',
'CHEEPURUPALLE (CHEEPURUPALLI)','CHENNAMUKKAPALLE','CHERLOPALLE','CHIDIGA','CHILAKALURIPET','CHINTALAVALASA','CHINTAPALLE',
'CHIRALA','CHIRALA','CHITTOOR','CHODAVARAM','CUMBUM','DHARMAVARAM','DHONE (DRONACHALAM)','DOMMARA NANDYALA','DOWLESWARAM',
'DWARAKATIRUMALA','ELURU','GAJAPATHINAGARAM','GAVARAVARAM','GIDDALURU','GOOTY',
'GOPAVARAM','GUDIVADA','GUDIVADA','GUDUR','GUNTAKAL','GUNTUPALLE','GUNTUR','HINDUPUR','HIRAMANDALAM','HUKUMPETA','IBRAHIMPATNAM',
'ICHCHAPURAM','JAGGAIAHPET (JAGGAYYAPETA)','JAMMALAMADUGU','JARJAPUPETA','KADAPA (CUDDAPAH)','KADIRI','KAKINADA','KAKKALAPALLE',
'KALYANDURG','KANAPAKA','KANDUKUR','KANIGIRI U','KANKIPADU','KANTABA MSUGUDA','KANURU','KATHERU','KAVALI','KONDAPALLE (KONDAPALLI)',
'KOTHAVALASA','KOVVUR','KUPPAM','KURNOOL (INCL. KALLUR)','L.A.SAGARAM','MACHERLA','MACHILIPATNAM','MADANAPALLE','MALICHERLA',
'MAMIDALAPADU','MANDAPETA','MANGALAGIRI','MANGALAM','MANGAMPETA','MANGASAMUDRAM','MARKAPUR','MODAMEEDIPALLE','MORAGUDI','MORAMPUDI',
'MUDDANUR','MULAGUNTAPADU','MULAKUDDU','MURAKAMBATTU','NADIM TIRUVURU','NAGARI','NAGIREDDIPALLE','NAKKAPALLE','NANDYAL',
'NARASANNAPETA','NARASAPUR','NARASARAOPET','NARAYANAPURAM','NARAYANAVANAM','NARSIPATNAM','NELLIMARLA','NELLORE','NIDADAVOLE (NIDADAVOLU)',
'NUZVID','ONGOLE','PALACOLE (PALAKOLLU)','PALAKONDA','PALAMANER','PALASA KASIBUGGA','PAMUR','PAPAMPETA','PARVATHIPURAM',
'PAYAKARAOPETA','PEDA BODDEPALLE','PEDANA','PEDDAPURAM','PERUR','PIDUGURALLA','PILERU','PITHAPURAM','PODILI','PONDURU',
'PONNUR','PORANKI','PRASADAMPADU','PRODDATUR','PULIVENDLA (PULIVENDULA)',
'PUNGANUR','PUTTUR','RAJAHMUNDRY','RAJAM','RAJAMPET','RAMACHANDRAPURAM','RAMANAYYAPETA','RAMAPURAM','RAMAVARAPPADU',],

ARUNACHALPRADESH:['AALO (ALONG)','ANINI','BASAR','BOLENG','BOMDILA',
'CHANGLANG','DAPORIJO','DEOMALI','DIRANG','HAWAI','ITANAGAR','JAIRAMPUR','KHONSA','KOLORIANG','LONGDING','MIAO',
'NAHARLAGUN','NAMSAI','PASIGHAT','ROING','RUPA','SAGALEE','SEPPA','TAWANG','TEZU','YINGKIONG','ZIRO'],

ASSAM:['Dhuburi','Dibrugarh','Dispur','Guwahati','Jorhat','Nagaon','Sibsagar','Silchar','Tezpur','Tinsukia'],

BIHAR:['Ara','Baruni','Begusarai','Bettiah','Bhagalpur','Bihar Sharif','Bodh Gaya','Buxar','Chapra','Darbhanga','Dehri',
'Dinapur Nizamat','Gaya','Hajipur','Jamalpur','Katihar','Madhubani','Motihari','Munger','Muzaffarpur','Patna','Purnia',
'Pusa','Saharsa','Samastipur','Sasaram','Sitamarhi','Siwan'],
CHANDIGARH:['Chandigarh'],
CHHATTISGARH:['Ambikapur','Bhilai','Bilaspur','Dhamtari','Durg','Jagdalpur','Raipur','Rajnandgaon'],

DADRAANDNAGARHAVELIANDDAMANANDDIU:['Silvassa','Daman','Diu'],
DELHI:['New Delhi','Delhi'],
GOA:['Madgaon','Panaji', 'Margao', 'Vasco', 'Mapusa', 'Ponda', 'Bicholim','Valpoi'],

GUJARAT:['AHMEDABAD','ANAND','ANKLESHWAR','BALASINOR','BHARUCH','BHAVANGADH','BHAVNAGAR',
'BHUJ','DWARKA','GANDHIDHAM','GANDHINAGAR','GONDAL','JAMBUGODHA','JAMNAGAR','JUNAGADH',
'LOTHAL','MANDAVI','MORBI','PALANPUR','PALITANA','PORBANDAR','POSHINA','RAJKOT','RAJPIPLA','SAPUTARA',
'SASANGIR','SURAT','VADODARA','VAPI','WANKANER'],
HARYANA:['Ambala','Bhiwani','Chandigarh','Faridabad','Firozpur Jhirka','Gurgaon','Hansi','Hisar','Jind','Kaithal',
'Karnal','Kurukshetra','Panipat','Pehowa','Rewari','Rohtak','Sirsa','Sonipat'],

HIMACHALPRADESH:['AULI','BADDI','CHAIL','DALHOUSIE','DHARAMSHALA','KASAULI',
'KAZA','KHAJJIAR','KUFRI','KULLU','MANALI','MCLEODGANJ','NAHAN','NALDHERA','PALAMPUR','PARWANOO','PRAGPUR',
'SHIMLA','SOLAN'],

JAMMUANDKASHMIR:['Anantnag','Baramula','Doda','Gulmarg','Jammu','Kathua','Punch','Rajauri','Srinagar','Udhampur'],

JHARKHAND:['Bokaro','Chaibasa','Deoghar','Dhanbad','Dumka','Giridih','Hazaribag','Jamshedpur','Jharia','Rajmahal','Ranchi','Saraikela'],
KARNATAKA:['BANDIPUR','BANGALORE','BELGAUM','CHIKMAGALUR',
'COORG','DANDELI','HALEBID','HAMPI','HASSAN','HOSPET','HUBLI','KABINI','KARWAR','MALPE','MANGALORE','MYSORE',
'NAGARHOLE','SHARAVANBELGOLA','SHIVANASAMUDRA','UDUPI'],

KERALA:['ALLEPPEY','ASHTAMUDI','CALICUT','CANANNORE',
'GOKHARNA','GURUVAYOOR','IDUKKI','KASARGOD','KOCHIN','KOLLAM','KOTTAYAM','KOVALAM','KUMARAKOM','KUMILY','MALAPPURAM',
'MARARRI','MUNNAR','NADUKANI','PALLAKAD','POOVAR','RANNY','THEKKADY','THIRUVANANTHAPURAM','THRISSUR','VAGAMON',
'VARKALA','WAYANAD'],

LADAKH:['Kargil','Leh','Spituk','Chuglamar'],
LAKSHADWEEP:['AGATTI','AMINI','ANDROTT','BANGARAM','BITRA','CHERIYAM','CHETLAT','KADMAT','KALPENI','KALPITTI','KAVARATTI',
'KILTAN','KODITHALA','MINICOY','PARALI (I)','PARALI (II)','PARALI (III)','PITTI (BIRDS ISLAND)','PITTI (I)','PITTI (II)',
'SUHELI CHERIYAKARA','SUHELI VALIYAKARA','TILAKKAM (I)','TILAKKAM (II)','TILAKKAM (III)','TINNAKARA','VIRINGILI'],

MADHYAPRADESH:['Balaghat','Barwani','Betul','Bharhut','Bhind','Bhojpur','Bhopal','Burhanpur','Chhatarpur','Chhindwara',
'Damoh','Datia','Dewas','Dhar','Guna','Gwalior','Hoshangabad','Indore','Itarsi','Jabalpur','Jhabua','Khajuraho','Khandwa',
'Khargon','Maheshwar','Mandla','Mandsaur','Mhow','Morena','Murwara','Narsimhapur','Narsinghgarh','Narwar','Neemuch',
'Nowgong','Orchha','Panna','Raisen','Rajgarh','Ratlam','Rewa','Sagar','Sarangpur','Satna','Sehore','Seoni','Shahdol','Shajapur',
'Sheopur','Shivpuri','Ujjain','Vidisha'],

MAHARASHTRA:['ALIBAUG','AURANGABAD','BHANDARDARA',
'CHIPLUN','DABHOSA','DAPOLI','DIVEAGAR','DURSHET','GANAPATIPULE','IGATPURI','JALGAON','JAWHAR','KARJAT',
'KASHID','KHANDALA','KOLHAPUR','LONAVALA','MAHABALESHWAR','MALSHEJGHAT','MALVAN','MANMAD','MATHERAN','MUMBAI',
'MUNDRA','MURUDJANJIRA','NAGOTHANE','NAGPUR','NANDED','NAPNE','NASIK','NAVIMUMBAI','NERAL','PANCHGANI',
'PANHALA','PANVEL','PUNE','RATNAGIRI','SAJAN','SAWANTWADI','SHIRDI','TAPOLA','THANE','VERAVAL','VIKRAMGADH'],
MANIPUR:['IMPHAL'],
MEGHALAYA:['SHILLONG','CHERRAOUNJI'],
MIZORAM:['AIZWAL','LUNGLEI'],
NAGALAND:['Kohima','Mon','Phek','Wokha','Zunheboto'],
ODISHA:['Balangir','Baleshwar','Baripada','Bhubaneshwar','Brahmapur','Cuttack','Dhenkanal','Keonjhar','Konark','Koraput',
'Paradip','Phulabani','Puri','Sambalpur','Udayagiri'],
PUDUCHERRY:['Karaikal','Mahe','Puducherry','Yanam'],
PUNJAB:['AMRITSAR','CHANDIGARH','JALANDHAR','LUDHIANA','MOHALI',
'PATIALA','PHAGWARA'],

NCR:['GREATERNOIDA'],
NEWDELHI:['GHAZIABAD'],NORTHSIKKIM:['LACHUNG'],


RAJASTHAN:['AJMER','ALSISAR','ALWAR','BAMBORA','BEHROR','BHARATPUR','BIKANER','BUNDI',
'CHITTORGARH','DAUSA','JAIPUR','JAISALMER','JODHPUR','JOJAWAR','KHIMSAR','KOTA','KUMBALGARH','MANDAWA','MOUNTABU',
'NAGAURFORT','OSIAN','PALI','PHALODI','PUSKHAR','RAJASTHAN','RAJSAMAND','RAMGARH','RANAKPUR','RANTHAMBORE',
'ROHETGARH','SAWAIMADHOPUR','SIANA','UDAIPUR'],SIKKIM:['GANGTOK','RAVANGLA','YUKSOM'],
TELANGANA:['Hyderabad','Karimnagar','Khammam','Mahbubnagar','Nizamabad','Sangareddi','Warangal'],
TAMILNADU:['CHENNAI',
'COIMBATORE','COONOOR','HOSUR','KANCHIPURAM','KANYAKUMARI','KARUR','KODAIKANAL','KOTAGIRI','KUMBAKONAM','MADURAI',
'MAHABALIPURAM','NAGAPATTINAM','NILGIRI','OOTY','PONDICHERRY','RAMESHWARAM','SALEM','SIVAGANGADISTRICT','TANJORE',
'THIRVANNAMALAI','TIRUCHIRAPALLI','TIRUPUR','VELANKANNI','VELLORE','YERCAUD'],TRIPURA:['AGARTALA'],UNIONTERRITORYOFDADRAANDNAGARHAVELI:['DIU','SILVASSA','DAMAN'],

UNIONTERRITORYOFLAKSHADWEEP:['LAKSHADWEEP'],
UTTARPRADESH:['AGRA','ALLAHABAD','BALRAMPUR','BAREILLY','DEHRADUN','FIROZABAD','GARHMUKTESHWAR','GORAKHPUR','HARIDWAR','JHANSI',
'KANPUR','KUSHINAGAR','LUCKNOW','MATHURA','MORADABAD','NAINITAL','NOIDA','RAIBAREILLY','RAMNAGAR','RISHIKESH','SONAULI','VARANASI'],
UTTARAKHAND:['KAUSANI','Almora',
'Dehra Dun','Haridwar','Mussoorie','Nainital','Pithoragarh'],
UTTARANCHAL:['ALMORA','BADRINATH',
'BETALGHAT','BHIMTAL','BINSAR','CHAMBA','CORBETTNATIONALPARK','GANGOTRI','GARHWAL','KANATAL','KASHIPUR','KEDARNATH','MARCHULA','MUKTESHWAR','MUSSOORIE','PANTNAGAR','RANIKHET','SATTAL','UTTARKASHI','YAMUNOTRI'],

WESTBENGAL:['DARJEELING','DIGHA','DOOARS','DURGAPUR','KALIMPONG','KOLKATA','KURSEONG','MANDORMONI','RAICHAK','RISHYAP','SILIGURI','SUNDERBAN','TARAPITH'],WESTSIKKIM:['PELLING']
}




function makeSubmenu(value) {
  value=value.toUpperCase();
if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
else {
var citiesOptions = "";
for(cityId in citiesByState[value]) {
citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
}
document.getElementById("citySelect").innerHTML = citiesOptions;
}
}
function displaySelected() { var country = document.getElementById("countrySelect").value;
var city = document.getElementById("citySelect").value;
alert(country+"\n"+city);
}
function resetSelection() {
document.getElementById("countrySelect").selectedIndex = 0;
document.getElementById("citySelect").selectedIndex = 0;
}
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 30px 30px 40px 80px;
  background-image: linear-gradient(to bottom right, pink,lightblue);;


  /* Control the height of the image */

}

/* Full-width input fields */
select,input,input[type=text], input[type=password] {
  width: 25%;
  padding: 12px;
  margin: 7px 80px 15px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=checkbox]{
  width:10px;
  margin-right: 10px;
}

.excp{
  width: 900px;
}
label {
    width: 200px;
    display: inline-block;
}
.head{
  width: 100%;
}

.add{
  width: 10%
  margin: 7px 10px 15px 10px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: white;
  text-align: center;
}

</style>
</head>
<body>

<form action= '/labs_form_submit' method ='post'>
  <div class="container" >
    <label class = 'head'><font size="25"><b>National Digital Health Portal</b></font></label>
    <h1>Register Laboratory/Hospital/Diagnostic Center </h1>
    <p>Please fill this form to register with National Digital Health Portal.</p>
    <hr>

    <label for="pd" class="head"><b><h2>Personal Details</h2></b></label><br>
    <label for="fname"><b>First Name<font color="red">*</font>:</b></label>
    <input type="text" id="fname" placeholder="Enter First Name" name="fname" required>

    <label for="lname"><b>Last Name<font color="red">*</font>:</b></label>
    <input type="text" id="lname" name="lname" placeholder= "Enter Last Name"required><br>

    <label for="email"><b>Email<font color="red">*</font>:</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="mob"><b>Mobile Number<font color="red">*</font>:</b></label>
    <input type="text" id="mob" name="mob" placeholder="Enter Mobile Number" pattern="[0-9]{10}" required><br>

    <label for="dob"><b>Date of Birth<font color="red">*</font>:</b> </label>
    <input type="date" id="dob" name="dob" required>

    <label for="gender"><b>Gender<font color="red">*</font> - </b></label>
    <select id="gender" name="gender" required>
      <option value="" disabled selected>Choose Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>

    <label for="aadhaar"><b>Aadhaar Card Number<font color="red">*</font>:</b></label>
    <input type="text" id="aadhaar" name="aadhaar" placeholder = "Enter Aadhaar Card Number" pattern="[0-9]{12}" required>

    <label for="blood"><b>Blood Group<font color="red">*</font> - </b></label>
    <select id="blood" name="blood" required>
      <option value="" disabled selected>Choose Gender</option>
      <option value="op">O+</option>
      <option value="on">O-</option>
      <option value="ap">A+</option>
      <option value="an">A-</option>
      <option value="bp">B+</option>
      <option value="bn">B-</option>
      <option value="abp">AB+</option>
      <option value="abn">AB-</option>
    </select>
    <font color="red">*</font>
    <br><br>
    <label for="add"><b><h2>Address</h2></b></label><br>

    <label for="state"><b>State<font color="red">*</font>:</b></label>
    <select name="state" id="countrySelect" size="1" onchange ="makeSubmenu(this.value)">

      <option value="" disabled selected>Choose State</option>
      <option value="ANDAMANANDNICOBARISLANDS">Andaman and Nicobar Islands</option>
      <option value="AndhraPradesh">Andhra Pradesh</option>
      <option value="ArunachalPradesh">Arunachal Pradesh</option> <!-- to de added -->
      <option value="Assam">Assam</option>
      <option value="Bihar">Bihar</option>

      <option value="Chandigarh">Chandigarh</option> <!-- to de added -->
      <option value="Chhattisgarh">Chhattisgarh</option>
      <option value="DadraandNagarHaveliandDamanandDiu">Dadra and Nagar Haveli and Daman and Diu</option> <!-- to de added -->
      <option value="Delhi">Delhi</option> <!-- to de added -->
      <option value="Goa">Goa</option>

      <option value="Gujarat">Gujarat</option>
      <option value="Haryana">Haryana</option>
      <option value="HimachalPradesh">Himachal Pradesh</option>
      <option value="JammuandKashmir ">Jammu and Kashmir </option>
      <option value="Jharkhand">Jharkhand</option>

      <option value="Karnataka">Karnataka</option>
      <option value="Kerala">Kerala</option>
      <option value="Ladakh">Ladakh</option> <!-- to de added -->
      <option value="Lakshadweep">Lakshadweep</option> <!-- to de added -->
      <option value="MadhyaPradesh">Madhya Pradesh</option>

      <option value="Maharashtra">Maharashtra</option>
      <option value="Manipur">Manipur</option>
      <option value="Meghalaya">Meghalaya</option>
      <option value="Mizoram">Mizoram</option>
      <option value="Nagaland">Nagaland</option> <!-- to de added -->

      <option value="Odisha">Odisha</option>
      <option value="Puducherry">Puducherry</option> <!-- to de added -->
      <option value="Punjab">Punjab</option>
      <option value="Rajasthan">Rajasthan</option>
      <option value="Sikkim">Sikkim</option>

      <option value="TamilNadu">Tamil Nadu</option>
      <option value="Telangana">Telangana</option> <!-- to de added -->
      <option value="Tripura">Tripura</option>
      <option value="UttarPradesh">Uttar Pradesh</option>
      <option value="Uttarakhand">Uttarakhand</option>

      <option value="WestBengal">West Bengal</option>
    </select>

    <label for ="city"><b>City<font color="red">*</font>:</b></label>
    <select name="city" id="citySelect" size="1" >
          <option value="" disabled selected>Choose City</option>
    </select>

    <label for="district"><b>District<font color="red">*</font>:</b></label>
    <input type="text" id="district" placeholder="Enter District" name="district" required>

    <label for="pincode" class="add"><b>Pincode<font color="red">*</font>:</b></label>
    <input type="text" class="add" id="pincode" placeholder="Enter Pincode" name="pincode" pattern="[0-9]{6}" required><br>

    <label for="add1"><b>Address line 1<font color="red">*</font>:</b></label>
    <input type="text" id="add1" placeholder="Enter Complete Address" name="add1" required>

    <label for="add2"><b>Address line 2:</b></label>
    <input type="text" id="add2" placeholder="Enter Complete Address" name="add2">


    <hr>
    <input type="checkbox" id="decl" name="decl" value="decl" required>
    <label for="decl" class="excp"> I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.</label><br>

    <button type="submit" class="registerbtn">Submit</button>
  </div>

  <div class="signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>

</body>
</html>
