<!DOCTYPE html>
<html>
<head>
	<title>Thank You!</title>
	<style type="text/css">
		body{
			min-height: 100%;
			  background: linear-gradient(to top left, lightgreen,lightblue) fixed;
			  background-size: cover;
			      background-repeat:no-repeat;
		}
	</style>
</head>
<body>

  <h1>Thank You! <br> {{namee}}!</h1>

  <p><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    <a href="/" role="button">Continue to homepage</a>
  </p>


</body>
</html>